<html>
    <head>
      <title>Dorien's blog</title>
    </head>

    <body>
      <div>
        <h1><font color="pink" size="20">Dorien's Blog</font></h1>
      </div>

      <div>
        <h2><font color="pink" size="6"><b>Hiephoi, daar is ie dan!</b></font>
        <p><font coloor="gray" size="3"><b>Gepubliceerd: 23 april 2016, 21:03u.</font></b></p>
      </div>

      <div>
        <p><font color="gray" size="3">Het is me eindelijk gelukt, een heuze blog!</font></p>
      </div>
    </body>
