<html>
    <head>
        <title>Dorien's blog</title>
    </head>

    <body>
        <div>
            <h1><font color="pink">Dorien's Blog</font></h1>
        </div>

        <div>
            <h2><font color="pink"><b>Hiephoi, daar is ie dan!</b></font>
        </div>

        <div>
            <p><font coloor="gray"><b>Gepubliceerd: 23 april 2016, 21:03u.</font></b></p>
            <p><font color="gray">Het is me eindelijk gelukt, een heuze blog!</font></p>
        </div>
    </body>
</html>
